body {

}

header {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    padding: 0.5rem 0;
}

.left-pane {
    background-color: whitesmoke;
}

.five-day {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.card-small {
    background-color: rgb(32, 124, 245);
    color: whitesmoke;
    margin: 0;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding: 0.5rem;
}

/* SEARCH */
#searchLabel {
    font-weight: bold;
}

/* CITY LIST */
#city-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0;
}

.list-group-item.city {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0.75rem;
}

.city.active {
    background-color: white;
    color: black;
    font-weight: bold;
}

.btn-delete {
    float: right;
    background-color: transparent;
    color: black;
    opacity: 0.2;
    font-size: 15px;
}

.btn-delete:hover {
    border: 1px dotted black;
    opacity: 1;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

/* .btn-delete::after {
    content: "";
    display: block;
    clear: both;
} */

#today {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table {
    margin-top: 1rem;
    width: auto;
}

.table th {
    padding-right: 2rem;
}

@media screen and (max-width: 576px) {
    .left-pane,
    .right-pane,
    .card-big,
    .card-small,
    .row {
        width: 100%;
        margin: 0;
        padding: 0;        
    }

    body {
        background-color: whitesmoke;
    }

    .city-list {
        margin: 0;
        padding: 0;
    }

    .right-pane {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    .card-big {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .five-day {
        flex-direction: column;
    }
    
    .card-small {
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .card-small img {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100px;
    }

    
}
